<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464953625739-uqbrauinnb36s61odkgmc2krfqh4bhpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464953625739-uqbrauinnb36s61odkgmc2krfqh4bhpt</string>
	<key>API_KEY</key>
	<string>AIzaSyCcPwIhIiENKzYR6bQ5RWcz4nRbx2D6ch4</string>
	<key>GCM_SENDER_ID</key>
	<string>464953625739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RN-Dev-Project</string>
	<key>PROJECT_ID</key>
	<string>rndevproject-b15f1</string>
	<key>STORAGE_BUCKET</key>
	<string>rndevproject-b15f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464953625739:ios:3d7541a398988faf35188e</string>
</dict>
</plist>